*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
.wrap{
    
    width: 100%;
    overflow: auto;
}
.header{
    
    color: ivory;
}
.menu{
    float: right;
}
.menu li{
    list-style: none;
    display: inline-block;
    
}
.menu a {
    color: grey;
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5% 10%;     
}
.header-image{
    background-image: url('image/img6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    
    height: 70%;
    text-align: center;
    color: mintcream;
}
.header-image p{
    padding-top: 25%;
}
h1{
    text-align: center;
    color: gray;
    padding-top: 2%;
    
}
h1::after{
    display: block;
    content: '----';
    color: gray;
}
.text{
    width: 45%;
    display: inline-block;
    padding: 2%;
}
.gallery{
    display: inline-block;
}
.gallery img{
    width: 31.3334%;
    height: 36%;
    padding: 0.3%;
}
